
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/*logo*/
img {
    height: 120%;
  }

/* Nav Bar*/
/*take logo to the extreme left and the list to the extreme right*/
.top-nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    box-sizing: border-box;
    
  }
li{
    cursor: pointer;
}
.links {
list-style: none; /*removes bottuns*/
display: flex;
/*center them horizontally and vertically*/
justify-content: center;
align-items: center;
font-size: 1.4vmax;
color:black;
font-weight: bold;
}

/* subclass in the list*/
.links > li {
    /* to have spacing between elements*/
      margin-right: 20px;
    }

.links > li:last-child {
    margin-right: 0px;
    }
.btn {
    width: 7vmax;
    height: 3vmax;
    padding: 5%;
    border: none;
    border-radius: 20px;
}
    
.btn-blue {
background-color: cornflowerblue;
color: #fff;
font-weight: bold;
font-size: 70%;
}
.flex{
    display:flex;
}
.flexcolumn{
    flex-direction: column;
}
.aligncenter{
    align-items: center;
}
.logo{
    width: 6vmax;
    height: 10vmax;
}

.arrow{
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid black;
    align-self: center;
    margin-left: 2px;
}


.hero {
    background: url("./BDDimages/slide1.jpg");
    opacity: 0.7;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    position: relative;
  }

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 20vh 5vw 20vh 5vw;
}
.arrowgif{
    cursor: pointer;
    height:5%;
    width: 5%
}
.dot {
    height: 5px;
    width: 5px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin: 50px 10px 70px 10px ;
    cursor: pointer;
    transition: transform .2s;
}
.dot:hover{
    background-color:blue;
}

.hero-heading {
    text-align: center;
    font-size: 50px;
    
  }
.container {
padding: 3vh 5vw;
width: 100%;
}

.foundations{
    padding: 30px 0px;
    background-color:#F2F3F4;
    display:flex;
    flex-direction: column;
}
.foundationsheading{
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}
.info{
    display: flex;
    justify-content: space-around;
}
.moreinfo{
    cursor: pointer;
    width: 18vw;
    padding: 2% 4%;
    border-radius: 5px;
    height: 80vh;
    background-color: #fff;
    color:black;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10vh;
    overflow: hidden;
}
.image{
    height:20%;
    width:100%;
}
.childmargin{
    margin-bottom: 15%;
}
.title{
    color: black;
    font-size: 4vmin;
    font-weight: bold;
}
.paragraph{
    color:grey;
    font-size: 2.7vmin;
}
.vision{
    background: url("./BDDimages/parallax-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    position: relative;
    flex-direction:column;
    justify-content: center;
    align-self: center;
    padding: 10vh 0;
    box-sizing: border-box;
}
.explore{
    text-align: center;
    font-weight: bold;
    margin-bottom: 5%;
}

.video{
    background: url("./BDDimages/video-3.jpg");
    background-size: 55%;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    position: relative;
    box-sizing: border-box;
    padding: 20%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.circle{
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: transform .2s;
    position:absolute;
}
.rightarrow{

    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 12px solid #3498DB ;
    position:absolute;
}


.join{
    padding-top: 10vh;
    padding-bottom: 20vh;
    flex-direction: column;
    padding-right: 2vw;
    
    
}


.joinheader{
    font-weight: bold;
    font-size: 2.5vmax;
    text-align: center;
    margin-bottom: 2%;
}
.joinbddimage{
    width: 30%;
}

.joinBDD{
    width:15vw;
    height: 115vh;
    border-radius: 2%;
    background-color: #F7F9F9;
    padding-top: 4%;
    padding-left: 3%;
    padding-right: 5%;
    box-sizing: border-box;
    margin: 1vw;
    flex-direction: column;

}
.joinBDDlist{
    list-style: none; /*removes bottuns*/
    flex-direction: column;
}
.listtitle{
    font-size: 3vmin;
    font-weight: bold;
}
.listElement{
    color: #515A5A;
    margin-top: 15%;
    font-size: 2.5vmin;
}
.bullet{
    height: 15px;
    width: 15px;
}
.downloadapp{
    text-align: right;
    margin-top: 2vmax;
    margin-bottom: 2vmax;
    font-weight: bold;
    color: grey;
}
.end{
    justify-content: flex-end;
}
.store{
    width: 9vw;
    height: 6vh;
    margin-left: 1vw;
    cursor: pointer;
}

.knowmore{
    margin-top: 10vh;
    padding: 3%;
    width: 180%;
    height: 7%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 2.5vmin;
    z-index: 1;
}


.stat{
    flex-direction: column;
    text-align: center;
    background: url("./BDDimages/parallax-light.jpg");
    background-repeat: no-repeat;
    background-position: 50% -54px;
    width: 100%;
    z-index: 1;
    padding-top: 10vh;
    padding-bottom: 10vh;
    color: #fff;
    position: relative;
    margin-bottom: 10vh;
    
}
.statheader{
    margin-bottom: 2.5rem;
    font-family: 'TheMixSemiBold';
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.25;
    color: #212121;
    text-align: center;
}
.staticons{
    justify-content: space-around;
    padding: 1max;
}
.homeicon{
    width: 6vw;
    height: 15vh;
}
.statinfo{
    flex-direction: column;
    width: 20vh;
    align-items: center;
    text-align: center;
    padding: 0vh 6vmax;
}

.members{
    -webkit-text-stroke-color: #009a9e;
    -webkit-text-size-adjust: 100%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    text-align: center;
    line-height: 5vh;
    height: 5vh;
    -webkit-text-stroke-width: 2px;
    font-family: The Mix Black;
    font-size: 6vh;
    font-weight: bolder;
    color: transparent;
}
.events{
    -webkit-text-stroke-color: #e13870;
    -webkit-text-size-adjust: 100%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    text-align: center;
    line-height: 5vh;
    height: 5vh;
    -webkit-text-stroke-width: 2px;
    font-family: The Mix Black;
    font-size: 6vh;
    font-weight: bolder;
    color: transparent;
}
.support{
    -webkit-text-stroke-color: #0078be;
    -webkit-text-size-adjust: 100%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    text-align: center;
    line-height: 5vh;
    height: 5vh;
    -webkit-text-stroke-width: 2px;
    font-family: The Mix Black;
    font-size: 6vh;
    font-weight: bolder;
    color: transparent;

}
.percentage{
    -webkit-text-stroke-color: #00802d;
    -webkit-text-size-adjust: 100%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    text-align: center;
    line-height: 5vh;
    height: 5vh;
    -webkit-text-stroke-width: 2px;
    font-family: The Mix Black;
    font-size: 6vh;
    font-weight: bolder;
    color: transparent;
}
.stattext{
    color: #333;
    text-align: center;
    font-size: 2.5vmin;
    font-weight: bolder;
}


.programs{
    background: url("./BDDimages/parallax-7.jpg");
    opacity: 0.9;
    background-repeat: no-repeat;
    background-position: 50% -54px;
    width: 100vw;
    z-index: 1;
    padding-top: 10vh;
    padding-bottom: 10vh;
    color: #fff;
    position: relative;
    margin-bottom: 10vh;
    flex-direction: column;
    align-items: center;
}
.space-around{
    justify-content: space-around;
}

.clear {
    clear: both;
    display: block;
    height: 0;
    width: 100%;
}
.academy{
    width: 30%;
    flex-direction: column;
}
.learning{
    width: 12%;
    flex-direction: column;
    align-items: center;
}
.academysection{
    height:15vh;
    width: 15vh;
}
.size{
    height:15vh;
    width: 15vh;
}
.icontitle{
    font-size: 3vmin;
    font-weight: bold;
    margin-top: 2vh;
}
.academytext{
    font-size: 3vmin;
    margin-top: 2vh;
}

.clickprograms {
    width:30vmax;
    height: 5vmax;
    padding: 1%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.5vw;
}


.visitblog{
    width:15%;
    padding: 14px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10vh;
}

.trending{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5vh;
}

